body {

margin: 0;

font-family: 'Inter', sans-serif;

background-color: #0f172a;

color: white;

}

/* Sidebar */

.sidebar {

width: 260px;

height: 100vh;

background: #020617;

position: fixed;

padding: 20px;

border-right: 1px solid #1e293b;

}

.logo {

font-size: 20px;

font-weight: 600;

margin-bottom: 30px;

}

.sidebar nav a {

display: block;

padding: 12px;

color: #94a3b8;

text-decoration: none;

border-radius: 8px;

margin-bottom: 5px;

}

.sidebar nav a:hover {

background: #1e293b;

color: white;

}

/* Main */

.main {

margin-left: 260px;

padding: 20px;

}

/* Topbar */

.topbar {

display: flex;

justify-content: space-between;

margin-bottom: 25px;

}

.global-search {

width: 60%;

padding: 12px;

border-radius: 8px;

border: none;

background: #020617;

color: white;

}

/* Dashboard */

.dashboard {

display: grid;

grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

gap: 20px;

}

.card {

background: #020617;

padding: 20px;

border-radius: 12px;

border: 1px solid #1e293b;

transition: 0.2s;

}

.card:hover {

transform: translateY(-5px);

border-color: #3b82f6;

}
